
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
      
  <a class="navbar-brand" href="http://www.amuroboclub.in"><img class="expand" src="{{url_for('static', filename='img/logo.png')}}" id="leftgear" align="   middle" height="60" width="60" mergin-left = 30  margin-top=0 /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
            <div class="nav-item dropdown ">
                <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Download Rulebook</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="../static/pdfs/Software.pdf">Software</a>
                     <a class="dropdown-item" href="../static/pdfs/Electronics.pdf">Embedded</a>
                     <a class="dropdown-item" href="../static/pdfs/Mechanical.pdf">Mechanical</a>
                </div>
            </div>
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link text-center text-shadow" href="https://www.amuroboclub.in"><img src="{{url_for('static', filename='img/finallogo.jpg')}}" height="50" width="170" style="border-radius: 5px"></a>
    </li>
    </ul>

     <ul class="navbar-nav ml-auto">
    
      <a href="https://www.facebook.com/groups/amuroboculb/" class="fa fa-facebook" style="margin:5px; font-size: 30px;  color: white;"></a>
        <a href="https://github.com/open-roboclub" class="fa fa-github" style="margin:5px; font-size: 30px; color: white;"></a>
        <a href="https://www.instagram.com/amuroboclub/" class="fa fa-instagram" style="margin:5px; font-size: 30px;color: white;"></a>
        <a href="https://www.linkedin.com/company/amuroboclub/about/" class="fa fa-linkedin" style="margin:5px; font-size: 30px;color: white;"></a>
        <a href="https://www.youtube.com/channel/UCKTQZXhxAWfhz1Mb8c2UKTg" class="fa fa-youtube" style="margin:5px; font-size: 30px;color: white; "></a>
    
    </ul>


     </div>

    </nav>  

    <div style="position: fixed; width: 100%; height: 100%;" id="particles-js"></div>

<div class="page-wrapper p-t-45 p-b-50" style="background: rgb(0,0,0,0.8)">

    
        
        <div class="wrapper wrapper--w790">
            <div class="card bg-transparent" >
             <div class="jumbotron" style="background:rgb(255,255,255,0.4) ">
               <!--  <h1 class="display-4 justify-content-center xx-large font-weight-bolder text-center" style="font-family: Merriweather; color: #40E0D0; font-weight: 500"><strong>ROBO-HACK 1.0</strong></h1> -->
                <div class="heading-text" style="font-family: Merriweather; color: #40E0D0; font-size: 90px; border-width: 2px; border-color: solid black; text-shadow: 2px 2px #ff0000;"><strong>ROBO-HACK 1.0</strong></div>
                <p class="lead" style="color: white">This is an online event organized by <a href="amuroboclub.in" style="color:black"><strong>AMURoboclub</a></strong> to bring out the techie in you.
                We aim to make the best use of quarantine, so invest your time in improving your skills and developing a real-life project.  </p>     
                <br />
                <strong >Registration Deadline : 28 March 2020 <br/>
                    <h3><marquee style="text-shadow:2px 2px 5px yellow;" scroll-amount="6">Exciting Prizes for Winners in each Category.</marquee></h3></strong>
                <hr class="my-4">           
                <p style="text-align: center"><strong>SOFTWARE EDITION | EMBEDDED EDITION | MECHANICAL EDITION </strong></p> <br />
                <div class="text-center" style="align-content: center">
                    <a class="btn btn-warning btn-center" href="#fo" role="button">Register Now</a>
                
                <a class="btn btn-warning btn-center" href="Team.html" role="button">Organizing Team</a></div>
            </div>
        </div>

        <!-- Do br tag honge unse pehle tk copy krde -->